@model IEnumerable<ProjectCars.Models.Car>

<h2>@ViewBag.title</h2>
<br/>

@foreach (var car in Model)
{
    <div>
        <h2>@car.Make</h2>
        <h2>@car.Model</h2>
        <h3>@car.YearOfProduction</h3>
        <h3>@car.Mileage</h3>
        <h4>@car.Engine</h4>
        <h4>@car.HorsePower</h4>
        <h5>@car.Price.ToString("C")</h5>
        <p>@car.Description</p>
    </div>
}


